<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>Etsydemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  
<%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
</body>
</html>
=======
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lomfringe" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lomfringe" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
  <div class="container">
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
>>>>>>> 5d16bacc534dd37e5665373e593c21281373df93
